.modal-exterior-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transition-property: all;
  transition-duration: 0.3s;
}

.modal-interior-wrapper {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  transition-property: all;
  transition-duration: 0.3s;
}

.modal {
  color: white;
  font-size: 1.25rem;
  align-self: flex-end;
}

.modal-interior {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.form {

}
